body{
    margin: 0;
    padding: 0;
    background: url(/imgs/churrasquinho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: calc(20%);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 300px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px;
    margin-top: 50px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

p{
    text-decoration: underline;
    font-style: italic;
    font-variant: small-caps;
    text-shadow: 2px 2px 5px black;
}

h1{
    margin: 0;
    text-align: center;
}

input{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: -5px 5px 15px black;
}


button{
   margin-left: 150px;
   transform: translate(-50%, 50%);
   width: 50%;
   outline: none;
   background: none;
   border: 2px solid rgba(0, 0, 0, 0.5);
   padding: 3px;
   border-radius: 5px;
   box-shadow: -2px 2px 5px black;
}

button:hover{
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-style: oblique;
}